---
  - name: Ensure cpu-checker is installed to run kvm-ok
    apt:
      name: cpu-checker #=0.7-0ubuntu7
      update_cache: yes
      state: present
  - name: Ensure quemu-system installed
    apt:
      name: qemu-system-x86 #=1:2.5+dfsg-5ubuntu10
      update_cache: no
      state: absent
  - name: Ensure qemu-kvm is installed
    apt:
      name: qemu-kvm #=1:2.5+dfsg-5ubuntu10
      update_cache: no
      state: present
      install_recommends: yes
  - name: Ensure libvirt-bin is installed
    apt:
      name: libvirt-bin #=1.3.1-1ubuntu10
      update_cache: no
      state: present
  - name: Ensure ubuntu-vm-builder is installed
    apt:
      name: ubuntu-vm-builder #=0.12.4+bzr494-0ubuntu1
      update_cache: no
      state: present

  - name: Ensure virtinst is installed
    apt:
      name: virtinst
      update_cache: no
      state: present
  - name: Ensure virt-manager is installed
    apt:
      name: virt-manager
      update_cache: no
      state: present
  - name: Ensure virtinst is installed
    apt:
      name: virtinst
      update_cache: no
      state: present
